.navBar {
  display: flex;
  gap: 2rem;
  align-items: center;

  h1 {
    flex-grow: 1;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: black;
    gap: 1rem;
  }

  ul {
    margin-left: auto;
    display: flex;
    gap: 2rem;

    li {
      a {
        color: blue;
        font-size: 1.5rem;
      }
    }
  }
}

.logo {
  height: 3rem;
  width: auto;
}

a[class="active"] {
  color: darkblue !important;
  text-decoration: underline;
}