.mission {
  display: flex;
  font-size: 1rem;

  .name {
    min-width: 8rem;
    max-width: 8rem;
    flex-grow: 1;
    border: 0.1rem solid #d2d2d3;
    font-weight: bold;
    padding: 0.2rem 0.2rem;
  }

  .description {
    flex-grow: 5;
    border: 0.1rem solid #d2d2d3;
    padding: 0.2rem 0.2rem;
  }

  .status {
    min-width: 8rem;
    max-width: 8rem;
    flex-grow: 1;
    border: 0.1rem solid #d2d2d3;
    padding: 0.2rem 0.2rem;
  }

  .empty {
    min-width: 8rem;
    max-width: 8rem;
    flex-grow: 1;
    border: 0.1rem solid #d2d2d3;
    padding: 0.2rem 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .join {
      color: gray;
      border: 0.1rem solid gray;
      padding: 0.3rem 0.5rem;
      border-radius: 0.2rem;
    }
    .leave {
      color: red;
      border: 0.1rem solid red;
      padding: 0.3rem 0.5rem;
      border-radius: 0.2rem;
      background-color: white;
    }
  }
}

.mission:nth-child(odd) {
  background-color: rgb(236, 234, 234);
}
